body {
  margin:0;
  font-family:Segoe UI;
  background:#0b0b0b;
  color:white;
}

header {
  display:flex;
  align-items:center;
  gap:15px;
  background:#111;
  padding:15px;
}

.logo { width:60px; }

.filtros {
  display:flex;
  gap:10px;
  padding:15px;
}

input, button {
  padding:10px;
  border:none;
  border-radius:5px;
}

button {
  background:#d01010;
  color:white;
  cursor:pointer;
}

.cards {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:15px;
  padding:20px;
}

.card {
  background:#1c1c1c;
  padding:20px;
  border-radius:10px;
  text-align:center;
}

.charts {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  padding:20px;
}

.chart-box {
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  padding:10px;
  border-bottom:1px solid #333;
  text-align:center;
}